@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --font-larken: 'Larken', serif; 
}
@font-face {
  font-family: 'Larken';
  src: url('/fonts/Larken_Thin.otf') format('opentype');
  font-weight: 100; 
  font-style: normal;
}

@font-face {
  font-family: 'Larken';
  src: url('/fonts/Larken_Light.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Larken';
  src: url('/fonts/Larken_Regular.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Larken';
  src: url('/fonts/Larken_Bold.otf') format('opentype');
  font-weight: 700; 
  font-style: normal;
}

@font-face {
  font-family: 'Larken';
  src: url('/fonts/Larken_ExtraBold.otf') format('opentype');
  font-weight: 800; 
  font-style: normal;
} */


@layer base {
  body {
    @apply font-primary text-white leading-loose;
    font-family: var(--font-larken);
    background: #f4f5ee;
    color: #29261a;
  }

  h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  h2 {
    @apply text-[36x] xl:text-[42px] leading-[1.1] font-semibold;
  }
  h3 {
    @apply text-[22px] xl:text-[26px] leading-[1.1] font-semibold;
  }

  h3 {
    @apply text-[18px] xl:text-[20px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #fff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px rgb(232 152 84);
  }
  
}
